<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- link href="./plugins/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" /-->
    <link href="./plugins/superhero/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="./plugins/ionicons.2.0.0.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="./plugins/DataTables-1.10.12/datatables.min.css" rel="stylesheet" type="text/css" />
    <!-- link href="./plugins/qunit-1.17.1.css" rel="stylesheet" type="text/css" /-->
    <link href="./plugins/pnotify.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/bootstrap-treeview-1.2.0/bootstrap-treeview.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/bootstrap-switch-3.3.2/css/bootstrap3/bootstrap-switch.min.css"  rel="stylesheet" type="text/css"/>
    <link href="./scent.css" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/png" href="./img/favicon.ico" sizes="16x16 32x32" type="image/vnd.microsoft.icon"/>
  </head>
  <body>
    <!-- =============================================== -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <a href="./index.html">
              <img src="./img/mule_light_hires.png" class="logo">
            </a>
          </a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#checks">Checks<i class="fa fa-check"></i></a></li>
            <li>
              <ul class="nav navbar-nav" id="alerts-menu-container"></ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right" id="navbar-right-container">
          </ul>
        </div>
      </div>
    </nav>

    <!-- =============================================== -->
    <div id="templates" class="hide">
        <script id="search-form-template" type="text/x-jsrender">
          <form action="#" class="{{:class}}" id="{{:form_id}}">
            <div class="input-group">
              <input id="{{:input_id}}" type="text" class="form-control" placeholder="Search..." data-provide="typeahead" autocomplete="off"/>
              <span class="input-group-btn">
                {{if add}}
                <button type="submit" class="btn btn-primary btn-flat">Add</button>
                {{else}}
                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                {{/if}}
              </span>
            </div>
          </form>
        </script>

        <script id="dashboard-template" type="text/x-jsrender">
          <li>
            <a href="#dashboard/{{:name}}">{{:name}}
              <i data-target="{{:name}}" data-toggle="tooltip" title="Delete" class="dashboard-delete pull-right fa fa-trash"></i>
            </a>
          </li>
        </script>

        <script id="favorite-template" type="text/x-jsrender">
          <li><a href="#graph/{{:name}}" title="{{:name}}">{{:name}}</a></li>
        </script>

        <script id="recent-template" type="text/x-jsrender">
          <li><a href="#graph/{{:name}}" title="{{:name}}">{{:name}}</a></li>
        </script>

        <script id="alerts-menu-template" type="text/x-jsrender">
          <li title="{{:title}}">
            <a href="#alert/{{:type}}">
              {{:title}}
              <span class="badge bg-{{:color}}" id="alert-menu-{{:type}}"></span>
            </a>
          </li>
        </script>

        <script id="navbar-right-template" type="text/x-jsrender">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="{{:title}}"><i class="fa fa-{{:icon}}"></i>
            </a>
            <ul id="{{:container}}-container" class="dropdown-menu" role="menu">
            </ul>
          </li>
        </script>

        <script id="alert-table-template" type="text/x-jsrender">
          <table id="alert-{{:type}}" class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                {{if type==="anomaly"}}
                <th>Graph</th><th>Time</th>
                {{else}}
                <th>Graph</th>
                <th>Value</th>
                <th>Period</th>
                <th>Stale</th>
                <th>State</th>
                {{/else}}
              </tr>
            </thead>
            <tbody>
              {{for records}}
              <tr>
                {{if type==="anomaly"}}
                <td><a class="alert-graph-name" data-target="{{:graph}}">{{:graph}}</a><td>{{:time}}</td>
                {{else}}
                <td><a class="alert-graph-name" data-target="{{:graph}}">{{:graph}}</a></td><td>{{:value}}</td>
                <td>{{:period}}</td>
                <td>{{:stale}}</td>
                <td>{{:state}}</td>
                {{/else}}
              </tr>
              {{/for}}
            </tbody>
          </table>
        </script>

        <script id="keys-table-template" type="text/x-jsrender">
          <table id="keys-table" class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Key</th>
                <th>Graphs</th>
              </tr>
            </thead>
            <tbody>
              {{for records}}
              <tr>
                <td><a class="keys-table-key" data-target="{{:key}}">{{:key}}&nbsp;&nbsp;</a></td>
                <td>
                  {{for links}}
                    <a href="#graph/{{:href}}">{{:rp}}</a>&nbsp;&nbsp;&nbsp;
                  {{/for}}
                  {{if plus}}
                    <a href="{{:plus}}"><i class="fa fa-plus"></i></a>
                  {{/if}}
                  {{if minus}}
                    <a href="{{:minus}}"><i class="fa fa-minus"></i></a>
                  {{/if}}

                </td>
              </tr>
              {{/for}}
            </tbody>
          </table>
        </script>

        <script id="keys-table-header-template" type="text/x-jsrender">
          {{for parts}}<a class="keys-table-key" data-target="{{:key}}">{{:title}}</a>{{/for}}
        </script>

        <script id="checks-table-template" type="text/x-jsrender">
          <table id="checks-table" class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Check</th>
                <th>Status</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {{for records}}
              <tr>
                <td>{{:check}}</td>
                <td>{{:status}}</td>
                <td>@ {{:time}}</td>
                  </td>
              </tr>
              {{/for}}
            </tbody>
          </table>
        </script>

        <script id="checks-table-filter-template" type="text/x-jsrender">
          <div class="form-group" id="check-status">
            <label class="col-lg-2 control-label">Filter by Status</label>
            <div class="col-lg-10">
              {{for records}}
              <div class="radio-inline">
                <label>
                  <input type="radio" name="status-filter" id="check-status-{{:criteria}}" value="status-{{:criteria}}">{{:label}}
                </label>
              </div>
              {{/for}}
            </div>
          </div>
        </script>

        <script id="graph-box-header-template" type="text/x-jsrender">
          <div data-graph="{{:graph}}">
            <div class="box-title">
              <div class="{{:klass}}-header graph-header">
                  {{for parts}}<a href="#graph/{{:href}}">{{:title}}</a>{{/for}}
              </div>
            </div>
          </div>
        </script>

        <script id="graph-template" type="text/x-jsrender">
          <div class="box box-primary">
            <div class="box-header graph-header">
            </div>
            <div class="box-body">
              <div class="graph-body {{:klass}}"></div>
            </div>
          </div>
        </script>

        <script id="graph-box-footer-template" type="text/x-jsrender">
         <div class="box-footer">
           <div class="box-tools pull-left {{:klass}}-header">
          {{if klass == "small-graph"}}
            {{for links}}
            {{if current}}
            <span class="label bg-light-blue">{{:rp}}</span>
            {{/if}}
            {{/for}}
          {{else}}
           {{for links}}
            {{if current}}
            <span class="label bg-light-blue">{{:rp}}</span>
            {{else}}
            <span class="label">
            {{if inner_navigation}}
            <a data-graph="{{:href}}" class="inner-navigation">{{:rp}}</a>
            {{else}}
            <a href="#graph/{{:href}}">{{:rp}}</a>
            {{/if}}
            </span>
            {{/if}}
           {{/for}}
          {{/if}}
          {{if full}}
          <a href="#graph/{{:graph}}"><i class="graph-view fa fa-arrow-circle-up"></i></a>
          {{/if}}
          {{if favorite}}
          <i class="graph-favorite fa {{:favorite}}"></i>
          {{/if}}
          {{if remove}}
          <i class="graph-remove fa fa-trash"></i>
          {{/if}}
          <i class="graph-set-alerts fa fa-wrench"></i>
          {{if klass != "small-graph"}}
          <input id="graph-yaxis-zoom" type="checkbox" checked data-toggle="toggle" data-size="mini" data-label-text="Zoom">
          <input id="graph-delta" type="checkbox" data-toggle="toggle" data-size="mini" data-label-text="Delta">
          {{/if}}
          {{if alerted}}
           <span class="label bg-{{:color}}">{{:alerted}}</span>&nbsp;&nbsp
          {{/if}}

          </div>
         </div>
        </script>
        <!-- just a data holder to make the template generation code easier without closure hacks -->
        <script id="chart-graph-template" type="text/x-jsrender">
          <div id="chart-{{:index}}-container" data-graph="{{:graph}}" class="graph-container col-md-{{:width}}">
          </div>
        </script>

        <script id="piechart-container-template" type="text/x-jsrender">
          <div class="row">
            <div class="col-md-12" id="piechart-container">
            </div>
          </div>
        </script>

        <script id="piechart-template" type="text/x-jsrender">
          <div class="row">
            <div class="col-md-6">
              <a href="#graph/{{:name}}">{{:graph}} </a>
            </div>
            {{if precentage}}
         <div class="col-md-2">
           <span class="text-right">| {{:precentage}}%</span>
         </div>
         <div class="col-md-4">
           <span class="sparkline-bullet">100,null,{{:precentage}}</span>
         </div>
         {{/if}}
         </div>
        </script>

        <script id="graph-tooltip-template" type="text/x-jsrender">
         <tr>
           <td class="legendColorBox">
             <div style="border:1px solid #ccc;padding:1px">
               <div style="width:4px;height:0;border:5px solid {{:c}} ;overflow:hidden"></div>
             </div>
           </td>
           <td>{{:n}}</td>
           <td class="text-left" data-value="{{:v}}">{{:v}}</td>
           <td class="text-right">{{:sec}}</td>
           <td class="text-right">{{:minute}}</td>
         </tr>
        </script>

        <script id="alert-modal-template" type="text/x-jsrender">
          <div class="form-group">
            <label class="col-md-3 control-label text-{{:color}}" for="textinput">{{:label}}</label>
            <div class="col-md-3">
              <input id="{{:id}}" value="{{:value}}" name="textinput" type="text" placeholder="{{:placeholder}}" class="form-control input-md">
            </div>
          </div>
        </script>
      </div> <!-- ./templates -->

      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" >
          <!-- search form -->
          <!-- /.search form - TODO add something here-->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li><a href="#"><i class="fa fa-book"></i> Documentation</a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- =============================================== -->

      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!--
             <section class="content-header">
             <h1 id="page-title"></h1>
             </section>
           -->

       <!-- Main content -->
        <section class="content">
          <div id="main-box">
            <div class="row">
              <div class="col-md-6">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Dashboards</h3>
                    <div id="main-dashboards-container-header"></div>
                  </div>
                  <div class="box-body container-fluid">
                    <div id="main-dashboards-container">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Keys</h3>
                      <div  id="main-keys-container-header"></div>
                    </div>
                    <div class="box-body container-fluid">
                      <div id="main-keys-container" class="keys-container">
                      </div>
                    </div>
                  </div>

                  <div class="box" id="main-search-box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Search for keys (use '.' and ';' to get subkeys)</h3>
                    </div>
                    <div class="box-body container-fluid">
                      <div id="main-search-container">
                      </div>
                    </div>
                  </div>

                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Recent</h3>
                    </div>
                    <div class="box-body container-fluid">
                      <ul id="main-recent-container">
                      </ul>
                    </div>
                  </div>
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Favorite</h3>
                    </div>
                    <div class="box-body container-fluid">
                      <ul id="main-favorite-container">
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="box" id="alert-box">
            <div class="box-header with-border">
              <h3 class="box-title"><strong id="alert-title"></strong></h3>
            </div>

            <div class="box-body container-fluid" id="alert-container">
              <div class="row">
                <div class="col-md-4">
                  <div class="box" id="alert-table-container">
                  </div>
                </div>
                <div id="alert-graph-container" data-graph="" class="graph-container col-md-8">
                </div>
              </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-5">
              <div class="box">
                <div class="box-header with-border">
                </div>
                <div id="alert-tooltip-container" class="box-body container-fluid" display="none">
                  <table class="table">
                    <thead>
                      <tr>
                        <th colspan="3"><span id="alert-tooltip-timestamp"></span></th>
                        <th class="text-right">/1s</th>
                        <th class="text-right">/1m</th>
                      </tr>
                    </thead>
                    <tbody id='alert-tooltip'>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

          <div class="box" id="checks-box">
            <div class="box-header with-border">
              <h3 class="box-title"><strong>Checks</strong></h3>
            </div>

            <div class="box-body container-fluid" id="alert-container">
              <div class="row">
                <div class="col-md-8">
                  <div id="checks-table-filter-container">
                  </div>
                  <div id="checks-table-container">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="box" id="graph-box">
            <div class="box-body container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div data-graph="" id="graph-box-container" class="graph-container col-md-12">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Keys</h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>

                      <div class="small-graph-header" id="graph-box-keys-container-header"></div>
                    </div>
                    <div class="box-body container-fluid">
                      <div id="graph-box-keys-container" class="keys-container">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="box">
                    <div class="box-header with-border">
                    </div>
                    <div id="graph-tooltip-container" class="box-body container-fluid" display="none">
                      <table class="table">
                        <thead>
                          <tr>
                            <th colspan="3"><span id="graph-tooltip-timestamp"></span></th>
                            <th class="text-right">/1s</th>
                            <th class="text-right">/1m</th>
                          </tr>
                        </thead>
                        <tbody id='graph-tooltip'>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="box" id="charts-box">

            <div class="box-header with-border">
              <h3 class="box-title"><strong id="charts-title"></strong></h3>

              <div class="box-tools pull-right">
              </div>
            </div>
          </div>

          <div class="box-body container-fluid">
            <div id="charts-container">
            </div><!-- /.box-body -->
          </div>
        </section>

      </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 0.2 (based on <a href="http://almsaeedstudio.com/AdminLTE/" target="_blank">AdminLTE</a>)
        </div>
        <strong><a href="#" id="scent-of-a-mule">Scent of a mule</a>, you better watch out where <a href="#" id="govt-mule">you go</a></strong>
        <!-- Just some hidden elements to get the colors out of -->
        <div display="none">
          <span class="crit-high"></span>
          <span class="crit-low"></span>
          <span class="warn-low"></span>
          <span class="warn-high"></span>
          <span class="ok-green"></span>
          <span class="anomaly"></span>
          <span class="stale"></span>
        </div>

        <div class="form-group" id="alert-modal" display="none">
          <form class="form-horizontal">
            <fieldset>
              <div class="form-group" id="alert-modal-form-container">
              </div>
            </fieldset>
          </form>

      </footer>
    </div><!-- ./wrapper -->

    <!--script src="./plugins/jquery.2.1.1.min.js"></script-->
    <script src="./plugins/jquery-3.1.0.js"></script>

    <script src="./plugins/bootstrap-3.3.2/js/bootstrap.min.js"></script>
    <script src="./plugins/bootstrap-switch-3.3.2/js/bootstrap-switch.js"></script>
    <script src="./plugins/bootbox-4.4.0.js"></script>
    <script src="./plugins/slimScroll/jquery.slimscroll.min.js"></script>

    <script src="./plugins/DataTables-1.10.12/datatables.min.js"></script>
    <script src="./plugins/jsrender-0.9.79/jsrender.min.js"></script>
    <script src="./plugins/AdminLTE/js/app.min.js"></script>
    <script src="./plugins/storage/jquery.storageapi-1.7.5.min.js"></script>
    <script src="./plugins/grapnel-0.6.4.min.js"></script>
    <script src="./plugins/Bootstrap-3-Typeahead-3.1.1/bootstrap3-typeahead.min.js"></script>
    <script src="./plugins/flot/jquery.flot-0.8.3.min.js"></script>
    <script src="./plugins/flot/jquery.flot.time-0.8.3.min.js"></script>
    <script src="./plugins/flot/jquery.flot.selection-0.8.3.js"></script>
    <script src="./plugins/flot/jquery.flot.crosshair-0.8.3.js"></script>
    <script src="./plugins/jquery.ba-dotimeout.min.js"></script>
    <script src="./plugins/cache.js"></script>
    <script src="./plugins/pnotify.custom.min.js"></script>
    <script src="./plugins/sparkline/jquery.sparkline.2.1.2.min.js"></script>
    <script src="./plugins/bootstrap-treeview-1.2.0/bootstrap-treeview.min.js"></script>
    <!--script src="./plugins/bootstrap-treeview-1.2.0/bootstrap-treeview.min.js"></script-->

    <script src="./config.js"></script>
    <script src="./tests.js"></script>
    <script src="./utils.js"></script>
    <script src="./datasource.js"></script>
    <script src="./app.js"></script>

  </body>
</html>
