<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="./plugins/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="./plugins/ionicons.2.0.0.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="./plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/AdminLTE/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
          folder instead of downloading all of them to reduce the load. -->
    <link href="./plugins/AdminLTE/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/metricsgraphics/metricsgraphics.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/qunit-1.17.1.css" rel="stylesheet" type="text/css" />
    <link href="./scent.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
  </head>
  <body class="skin-blue">
    <!-- Site wrapper -->
    <div class="wrapper">
      <!-- header logo: style can be found in header.less -->
      <header class="main-header">
        <a href="./index.html" class="logo"><b>Scent</b> of a <b>Mule</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="./img/muser.png" class="user-image" alt="User Image"/>
                  <span class="hidden-xs">Mule User</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="./img/muser.png" class="img-circle" alt="User Image" />
                    <p>
                      Mule User
                      <small>Kicking ass since Aug. 2010</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-md-4 text-center">
                      <a href="#">Just</a>
                    </div>
                    <div class="col-md-4 text-center">
                      <a href="#">a</a>
                    </div>
                    <div class="col-md-4 text-center">
                      <a href="#">Menu</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- =============================================== -->
      <div id="templates" class="hide">
        <script id="search-form-template" type="text/x-jsrender">
          <form action="#" class="{{:class}}" id="{{:form_id}}">
            <div class="input-group">
              <input id="{{:input_id}}" type="text" class="form-control" placeholder="Search..." data-provide="typeahead" autocomplete="off"/>
              {{if add}}
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-flat">Add</button>
              </span>
              {{else}}
              <span class="input-group-btn">
                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
              {{/if}}
            </div>
          </form>
        </script>

        <script id="dashboard-template" type="text/x-jsrender">
          <li>
            <a href="#dashboard/{{:name}}"><i class="fa fa-circle-o"></i> {{:name}}
              <i data-target="{{:name}}" data-toggle="tooltip" title="Delete" class="dashboard-delete pull-right fa fa-trash"></i>
            </a>
          </li>
        </script>

        <script id="favorite-template" type="text/x-jsrender">
         <li><a href="#graph/{{:name}}" title="{{:name}}"><i class="fa fa-circle-o"></i> {{:name}}</a></li>
        </script>

        <script id="recent-template" type="text/x-jsrender">
         <li><a href="#graph/{{:name}}" title="{{:name}}"><i class="fa fa-circle-o"></i> {{:name}}</a></li>
        </script>

        <script id="alerts-menu-template" type="text/x-jsrender">
          <li>
            <a href="#alert/{{:name}}">
              <i class="fa fa-circle-o text-{{:indicator}}"></i> {{:Name}}</a>
            <small class="label pull-right bg-{{:color}}" id="alert-menu-{{:name}}"></small>
          </li>
        </script>

        <script id="alert-table-template" type="text/x-jsrender">
          <table id="alert-{{:type}}" class="table table-bordered table-striped">
            <thead>
              <tr>
                {{if type==="anomaly"}}
                <th>Graph</th><th>Time</th>
                {{else}}
                <th>Graph</th>
                <th>Value</th>
                <th>Period</th>
                <th>Stale</th>
                {{/else}}
              </tr>
            </thead>
            <tbody>
              {{for records}}
              <tr>
                {{if type==="anomaly"}}
                  <td class="alert-graph-name" data-target="{{:graph}}">{{:graph}}</td><td>{{:time}}</td>
                {{else}}
                  <td class="alert-graph-name" data-target="{{:graph}}">{{:graph}}</td><td>{{:value}}</td>
                  <td>{{:period}}</td>
                  <td>{{:stale}}</td>
                {{/else}}
              </tr>
              {{/for}}
            </tbody>
          </table>
        </script>

        <script id="graph-template" type="text/x-jsrender">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="graph-label" class="box-title"></h3>
            </div>
            <div class="box-body">
              <div class="graph-body with-3d-shadow {{:klass}}"></div>
              <div class="legend"></div>
            </div>
          </div>
        </script>

        <script id="graph-box-header-template" type="text/x-jsrender">
          <div class="box-header with-border">
            <h3 class="box-title" id="{{:name}}-title">{{:title}}
              {{for links}}
                &nbsp;|&nbsp;
                {{if current}}
                  <span style="background-color: lightblue">{{:rp}}</span>
                {{else}}
                  {{if inner_navigation}}
                    <a data-target="{{:href}}" class="inner-navigation">{{:rp}}</a>
                  {{else}}
                    <a href="#graph/{{:href}}">{{:rp}}</a>
                  {{/if}}
                {{/if}}
              {{/for}}
            </h3>

            <div class="box-tools pull-right">
              {{if add}}
                <button class="btn btn-box-tool" data-toggle="modal" title="Add" data-target="#charts-add-modal">
                  <i id="charts-add" class="fa fa-plus"></i>
                </button>
              {{/if}}

              {{if favorite}}
                <button class="btn btn-box-tool" data-toggle="tooltip" title="Favorite">
                  <i id="graph-favorite" class="fa {{:favorite}}"></i>
                </button>
              {{/if}}
            </div>
          </div>
        </script>

        <script id="chart-graph-template" type="text/x-jsrender">
          <div class="col-md-4">
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title"><strong>{{:name}}</strong></h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-toggle="tooltip" title="Remove"><i data-target="{{:name}}" class="chart-remove fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div id="chart-{{:idx}}" class="with-3d-shadow small-graph chart-show-modal" data-target="{{:name}}">
                </div>
              </div><!-- /.box-body-->
            </div><!-- /.box -->
          </div><!-- /.col -->
        </script>

    </div> <!-- ./templates -->

    </div>
      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- search form -->
          <!-- /.search form - TODO add something here-->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <div id="sidebar-search-container"></div>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu active">
                <div id="dashboard-container"></div>
                <form action="#" class="sidebar-form" id="dashboard-form">
                  <input id="dashboard-add" type="text" class="form-control" placeholder="Add dashboard">
                </form>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-star-o"></i>
                <span>Favorites</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <div id="favorite-container"></div>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-history"></i>
                <span>Recent</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <div id="recent-container"></div>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-book"></i> Documentation</a></li>
            <li class="header">ALERTS</li>
            <div id="alerts-menu-container"></div>
         </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- =============================================== -->

      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 id="page-title"></h1>
        </section>

        <!-- Main content -->
        <!-- Modal -->
        <div id="modal-target" class="modal modal-wide fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-label" >Modal title</h4>
              </div>
              <div class="modal-body" id="modal-body">
                <div id="modal-graph" class="with-3d-shadow tall-graph">
                </div>
                <div class="legend">
                </div>
              </div>
              <div class="modal-footer"></div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <section class="content">

          <div class="box" id="alert-box">
            <div class="box-header with-border">
              <h3 class="box-title"><strong id="alert-title"></strong></h3>

              <div class="box-tools pull-right">
              </div>
            </div>

            <div class="box-body container-fluid" id="alert-container">
              <div class="row">
                <div id="alert-table-container" class="col-md-4">
                </div>
                <div id="alert-graph-container" class="col-md-8">
                </div>
              </div>
            </div><!-- /.box -->
          </div>

          <div class="box" id="graph-box">
           <div id="graph-box-header-container"></div>

           <div class="box-body container-fluid">
             <div class="row">
               <div id="graph-container" class="col-md-12">
               </div>
             </div>
           </div>
         </div>

          <div class="box" id="charts-box">
            <div class="modal fade" id="charts-add-modal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add to dashboard</h4>
                  </div>
                  <div class="modal-body">
                    <div id="charts-add-modal-form-container"></div>
                  </div>
                </div>
              </div>
            </div>

            <div id="charts-box-header-container"></div>

            <div class="box-body container-fluid">
              <div class="row" id="charts-container"></div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->

          <div class="box-footer">
            Just a Footer
          </div><!-- /.box-footer-->
      </div><!-- /.box -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 0.1 (based on <a href="http://almsaeedstudio.com/AdminLTE/" target="_blank">AdminLTE</a>)
      </div>
      <!-- TODO - open an overlay of phish youtube -->
      <!-- Look here http://stackoverflow.com/questions/18622508/bootstrap-3-and-youtube-in-modal -->
      <strong>Scent of a mule, you better watch out where <a href="https://www.youtube.com/watch?v=qBkhao0DEhU">you go</a></strong>
    </footer>
    </div><!-- ./wrapper -->

    <script src="./plugins/jquery.2.1.1.min.js"></script>
    <script src="./plugins/bootstrap-3.3.2/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- SlimScroll -->
    <script src="./plugins/slimScroll/jquery.slimScroll.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="./plugins/AdminLTE/js/app.min.js" type="text/javascript"></script>
    <!-- metrics graphics -->
    <!-- jsrender -->
    <script src="./plugins/jsrender/jsrender.js" type="text/javascript"></script>
    <script src="./plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="./plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="./plugins/storage/jquery.storageapi.min.js" type="text/javascript"></script>
    <script src="./plugins/qunit-1.17.1.js" type="text/javascript"></script>
    <script src="./plugins/grapnel.js" type="text/javascript"></script>
    <script src="./plugins/Bootstrap-3-Typeahead-3.1.0/bootstrap3-typeahead.min.js" type="text/javascript"></script>
    <script src="./plugins/d3/d3.js" type="text/javascript"></script>
    <script src="./plugins/bootbox-4.3.0.js" type="text/javascript"></script>
    <script src="./plugins/metricsgraphics/metricsgraphics.js" type="text/javascript"></script>
    <!-- Datasource -->
    <script src="./datasource.js" type="text/javascript"></script>
    <!-- app -->
    <script src="./app.js" type="text/javascript"></script>

  </body>
</html>
