
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- <link href="./plugins/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> -->
    <link href="./plugins/superhero/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="./plugins/ionicons.2.0.0.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <!-- link href="./plugins/qunit-1.17.1.css" rel="stylesheet" type="text/css" /-->
    <link href="./plugins/pnotify.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="./plugins/bootstrap-treeview-1.2.0/bootstrap-treeview.min.css" rel="stylesheet" type="text/css" />
    <link href="./scent.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="./img/favicon.ico" sizes="16x16 32x32" type="image/vnd.microsoft.icon"/>
  </head>
  <body>
    <!-- =============================================== -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <a href="./index.html">
              <img src="./img/mule_light_hires.png" class="logo">
            </a>
          </a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#checks">Checks<i class="fa fa-check"></i></a></li> -->
            <li>
              <ul class="nav navbar-nav" id="alerts-menu-container"></ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right" id="navbar-right-container">
          </ul>
        </div>
      </div>
    </nav>

    <!-- =============================================== -->
    <div id="templates" class="hide">
        <script id="search-form-template" type="text/x-jsrender">
          <form action="#" class="{{:class}}" id="{{:form_id}}">
            <div class="input-group">
              <input id="{{:input_id}}" type="text" class="form-control" placeholder="Search..." data-provide="typeahead" autocomplete="off"/>
              <span class="input-group-btn">
               <button type='submit' name='search' id='search-btn' class="btn btn-flat">
                 <i class="fa fa-search"></i>
               </button>
              </span>
            </div>
          </form>
        </script>

        <script id="dashboard-template" type="text/x-jsrender">
          <li>
            <a href="#dashboard/{{:name}}">{{:name}}
              <i data-target="{{:name}}" data-toggle="tooltip" title="Delete" class="dashboard-delete pull-right fa fa-trash"></i>
            </a>
          </li>
        </script>

        <script id="favorite-template" type="text/x-jsrender">
          <li><a href="#graph/{{:name}}" title="{{:name}}">{{:name}}</a></li>
        </script>

        <script id="recent-template" type="text/x-jsrender">
          <li><a href="#graph/{{:name}}" title="{{:name}}">{{:name}}</a></li>
        </script>

        <script id="alerts-menu-template" type="text/x-jsrender">
          <li title="{{:title}}">
            <a href="#alert/{{:type}}">
              {{:title}}
              <span class="label label-{{:indicator}}" id="alert-menu-{{:type}}"></span>
            </a>
          </li>
        </script>

        <script id="navbar-right-template" type="text/x-jsrender">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="{{:title}}"><i class="fa fa-{{:icon}}"></i>
            </a>
            <ul id="{{:container}}-container" class="dropdown-menu" role="menu">
            </ul>
          </li>
        </script>

        <script id="alert-table-template" type="text/x-jsrender">
          <table id="alert-{{:type}}" class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                {{if type==="anomaly"}}
                  <th data-sortable="true">Graph</th><th>Time</th>
                {{else}}
                 <th data-sortable="true">Graph</th>
                 <th data-sortable="true">Value</th>
                 <th>Period</th>
                 <th>Stale</th>
                 <th>State</th>
                {{/else}}
              </tr>
            </thead>
            <tbody>
              {{for records}}
              <tr>
                {{if type==="anomaly"}}
                <td><a class="alert-graph-name" data-target="{{:graph}}">{{:graph}}</a><td>{{:time}}</td>
                {{else}}
                <td><a class="alert-graph-name" data-target="{{:graph}}">{{:graph}}</a></td><td>{{:value}}</td>
                <td>{{:period}}</td>
                <td>{{:stale}}</td>
                <td>{{:state}}</td>
                {{/else}}
              </tr>
              {{/for}}
            </tbody>
          </table>
        </script>

        <script id="keys-table-template" type="text/x-jsrender">
          <table id="keys-table" class="table table-striped table-condensed">
            <thead>
              <tr>
                <th data-sortable="true">Key</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{for records}}
              <tr>
                <td>
                  <a class="keys-table-key-header" data-target="{{:key}}"> {{:short_key}}</a>
                </td>
                <td class="text-right">
                  {{for links}}
                    <a href="#graph/{{:href}}" click="popover_hide">{{:rp}}</a>&nbsp;&nbsp;&nbsp;
                  {{/for}}
                  <a href="{{:icon_href}}"><i class="fa fa-{{:icon}}""></i></a>
                </td>
              </tr>
              {{/for}}
            </tbody>
          </table>
        </script>

        <script id="keys-table-header-template" type="text/x-jsrender">
          {{for parts}}<a class="keys-table-key-header" data-target="{{:key}}">{{:title}}</a>{{/for}}
        </script>

        <script id="checks-table-template" type="text/x-jsrender">
          <table id="checks-table" class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Check</th>
                <th>Status</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {{for records}}
              <tr>
                <td>{{:check}}</td>
                <td>{{:status}}</td>
                <td>@ {{:time}}</td>
                  </td>
              </tr>
              {{/for}}
            </tbody>
          </table>
        </script>

        <script id="checks-table-filter-template" type="text/x-jsrender">
          <div class="form-group" id="check-status">
            <label class="col-lg-2 control-label">Filter by Status</label>
            <div class="col-lg-10">
              {{for records}}
              <div class="radio-inline">
                <label>
                  <input type="radio" name="status-filter" id="check-status-{{:criteria}}" value="status-{{:criteria}}">{{:label}}
                </label>
              </div>
              {{/for}}
            </div>
          </div>
        </script>

        <script id="-graph-box-header-template" type="text/x-jsrender">
          <div data-graph="{{:graph}}">
            <div class="panel-heading">
              <div class="{{:klass}}-header">
                {{for parts}}<a href="#graph/{{:href}}">{{:title}}</a>{{/for}}
              </div>
            </div>
          </div>
        </script>

        <script id="graph-template" type="text/x-jsrender">
          <div class="panel panel-default">
            <div class="graph-header"></div>
            <div class="panel-body">
              <div class="graph-body {{:klass}}" data-toggle="tooltip" data-delay="0"></div>
            </div>
          </div>
        </script>

        <script id="graph-box-footer-template" type="text/x-jsrender">
          <div class="panel-footer">
            <div class="{{:klass}}-header">
              {{for parts}}<a href="#graph/{{:href}}">{{:title}}</a>{{/for}}
              {{if klass == "small-graph"}}
                {{for links}}
                 {{if current}}
                  <span class="label bg-light-blue">{{:rp}}</span>
                 {{/if}}
                {{/for}}
              {{else}}
                {{for links}}
                 {{if current}}
                  <span class="label label-primary">{{:rp}}</span>
                 {{else}}
                  <span class="label">
                   {{if inner_navigation}}
                    <a data-graph="{{:href}}" class="inner-navigation">{{:rp}}</a>
                   {{else}}
                    <a href="#graph/{{:href}}">{{:rp}}</a>
                   {{/if}}
                  </span>
                 {{/if}}
                {{/for}}
              {{/if}}
              &nbsp;&nbsp;
              {{if favorite}}
                <i class="graph-favorite fa {{:favorite}}" title="Favorite">&nbsp;</i>
              {{/if}}
              {{if remove}}
                <i class="graph-remove fa fa-trash">&nbsp;</i>
              {{/if}}
              <i class="graph-set-alerts fa fa-wrench" title="Set thresholds">&nbsp;</i>
              {{if klass != "small-graph"}}
                <i class="graph-yaxis-zoom fa fa-search-plus" title="Zoom">&nbsp;</i>
                <i class="graph-delta fa fa-magic" title="Delta">&nbsp;</i>
                <i class="graph-dashboard fa fa-dashboard" title="Dashboard">&nbsp;</i>
              {{/if}}
              {{if alerted}}
                <span class="label bg-{{:color}}">{{:alerted}}</span>&nbsp;&nbsp
              {{/if}}

            </div>
          </div>
        </script>
        <!-- just a data holder to make the template generation code easier without closure hacks -->
        <script id="chart-graph-template" type="text/x-jsrender">
          <div id="chart-{{:index}}-container" data-graph="{{:graph}}" class="graph-container col-md-{{:width}}">
          </div>
        </script>

        <script id="piechart-container-template" type="text/x-jsrender">
          <div class="row">
            <div class="col-md-12" id="piechart-container">
            </div>
          </div>
        </script>

        <script id="piechart-template" type="text/x-jsrender">
          <div class="row">
            <div class="col-md-6">
              <a href="#graph/{{:name}}">{{:graph}} </a>
            </div>
            {{if precentage}}
         <div class="col-md-2">
           <span class="text-right">| {{:precentage}}%</span>
         </div>
         <div class="col-md-4">
           <span class="sparkline-bullet">100,null,{{:precentage}}</span>
         </div>
         {{/if}}
         </div>
        </script>

        <script id="graph-tooltip-template" type="text/x-jsrender">
         <tr>
           <td class="legendColorBox">
             <div style="border:1px solid #ccc;padding:1px">
               <div style="width:100%;height:0;border:5px solid {{:c}} ;overflow:hidden;"></div>
             </div>
           </td>
           <td>{{:n}}</td>
           <td class="text-left" data-value="{{:v}}">{{:v}}</td>
           <td class="text-right">{{:sec}}</td>
           <td class="text-right">{{:minute}}</td>
         </tr>
        </script>

        <script id="graph-tooltip-wrapper-template" type="text/x-jsrender">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table" id="{{:prefix}}-tooltip-table">
                <thead>
                  <tr>
                    <th colspan="3">
                      <span class="tooltip-timestamp text-center"></span>
                    </th>
                    <th class="text-right">/1s</th>
                    <th class="text-right">/1m</th>
                  </tr>
                </thead>
                <tbody class='tooltip-tbody'>
                </tbody>
              </table>
            </div>
          </div>
        </script>

        <script id="alert-modal-template" type="text/x-jsrender">
          <div class="form-group">
            <label class="col-md-3 control-label text-{{:color}}" for="textinput">{{:label}}</label>
            <div class="col-md-3">
              <input id="{{:id}}" value="{{:value}}" name="textinput" type="text" placeholder="{{:placeholder}}" class="form-control input-md">
            </div>
          </div>
        </script>
      </div> <!-- ./templates -->

      <!-- =============================================== -->

    <div class="container">
      <!-- Main content -->
      <div id="main-box" class="box">
        <div class="page-header"></div>

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Dashboards</h4>
                <div id="main-dashboards-container-header"></div>
              </div>
              <div class="panel-body">
                <div id="main-dashboards-container">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="panel panel-default" id="main-search-box">
                <div class="panel-body">
                  <div id="main-search-container">
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Keys</h4>
                  <div id="main-keys-container-header"></div>
                </div>
                <div class="panel-body">
                  <div id="main-keys-container" class="keys-container">
                  </div>
                </div>
              </div>


              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Recent</h4>
                </div>
                <div class="panel-body">
                  <ul id="main-recent-container">
                  </ul>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Favorite</h4>
                </div>
                <div class="panel-body">
                  <ul id="main-favorite-container">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="alert-box" class="box">
        <div class="page-header"></div>

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 id="alert-title"></h4>
              </div>

              <div class="panel-body" id="alert-container">
                <div class="panel panel-default" id="alert-table-container">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div id="alert-graph-container" data-graph="" class="graph-container">
              </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 hidden" id="alert-tooltip-container">
            </div>

          </div>
        </div>
      </div>

      <div id="checks-box" class="box">
        <div class="page-header"></div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><strong>Checks</strong></h4>
            </div>

            <div class="panel-body" id="alert-container">
              <div class="row">
                <div class="col-md-8">
                  <div id="checks-table-filter-container">
                  </div>
                  <div id="checks-table-container">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="graph-box" class="box">
        <div class="page-header"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="graph-box-keys-container-header"></div>
                <div id="graph-box-keys-container">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div data-graph="" id="graph-box-container" class="graph-container col-md-12">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="hidden" id="graph-tooltip-container"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="charts-box" class="box">
        <div class="page-header"></div>
        <div class="panel panel-default">
          <!-- <div class="panel-heading">
               <h4><strong id="charts-title"></strong></h4>
               <div class="pull-right">
               </div>
               </div> -->

          <div class="panel-body">
            <div id="charts-container"></div>
          </div>
        </div>
      </div>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
              <div class="pull-right hidden-xs">
                Version 0.95
              </div>
              <strong><a href="#" id="scent-of-a-mule">Scent of a mule</a>, you better watch out where <a href="#" id="govt-mule">you go</a></strong>
              <!-- Just some hidden elements to get the colors out of -->
              <div class="hidden">
                <span class="critical bg-danger text-danger"></span>
                <span class="warning bg-warning text-warning"></span>
                <span class="stale badge "></span>
                <span class="normal bg-success text-success"></span>
                <span class="anomaly bg-info text-info"></span>
              </div>

              <div class="form-group hidden" id="alert-modal">
                <span class="hidden panel-footer"></span>
                <form class="form-horizontal">
                  <fieldset>
                    <div class="form-group" id="alert-modal-form-container">
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </footer>


      <!--script src="./plugins/jquery.2.1.1.min.js"></script-->
      <script src="./plugins/jquery-3.1.0.js"></script>
      <script src="./plugins/bootstrap-3.3.2/js/bootstrap.min.js"></script>
      <script src="./plugins/bootbox-4.4.0.js"></script>
      <script src="./plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
      <script src="./plugins/jsrender-0.9.83/jsrender.min.js"></script>
      <script src="./plugins/storage/jquery.storageapi-1.7.5.min.js"></script>
      <script src="./plugins/grapnel-0.6.4.min.js"></script>
      <script src="./plugins/Bootstrap-3-Typeahead-3.1.1/bootstrap3-typeahead.min.js"></script>
      <script src="./plugins/flot/jquery.flot-0.8.3.min.js"></script>
      <script src="./plugins/flot/jquery.flot.time-0.8.3.min.js"></script>
      <script src="./plugins/flot/jquery.flot.selection-0.8.3.js"></script>
      <script src="./plugins/flot/jquery.flot.crosshair-0.8.3.js"></script>
      <script src="./plugins/jquery.ba-dotimeout.min.js"></script>
      <script src="./plugins/cache.js"></script>
      <script src="./plugins/pnotify.custom.min.js"></script>
      <script src="./plugins/sparkline/jquery.sparkline.2.1.2.min.js"></script>
      <script src="./plugins/bootstrap-treeview-1.2.0/bootstrap-treeview.min.js"></script>
      <!--script src="./plugins/bootstrap-treeview-1.2.0/bootstrap-treeview.min.js"></script-->

      <script src="./config.js"></script>
      <script src="./tests.js"></script>
      <script src="./utils.js"></script>
      <script src="./datasource.js"></script>
      <script src="./app.js"></script>
    </div>
  </body>
</html>
