.modal.modal-wide .modal-dialog {
    width: 90%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}

/* override some AdminLTE
 */

.sidebar-menu .treeview-menu  li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.tall-graph {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: 400px;
    font-size: 14px;
}

.medium-graph {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: 400px;
}

.small-graph {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 200px;
}

.tall-graph-header {
    font-size: 18px;
}

.medium-graph-header {
    font-size: 18px;
}
.small-graph-header {
    font-size: 12px;
}

.graph-header h4 {
    display: inline;
    margin-right: 1em;
}

.graph-favorite {
  color: #f39c12;
  cursor: pointer;
}

.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text,
.mg-active-datapoint, .mg-baselines text {
    font-size: 1.5rem;
}

.mg-x-axis-small text, .mg-y-axis-small text,
.mg-active-datapoint-small, .mg-baselines-small text {
    font-size: 1.0rem;
}

.mg-x-axis-small .label, .mg-y-axis-small .label {
    font-size: 1.0rem;
}

/* Hide the verical line on every Jan 1st */
.mg-year-marker line {
    display: none;
}

.timerange-slider-section {
  padding: 0 4em;
}
.timerange-slider-section .slider {
  width: 100%;
}
.timerange-slider {
  display: none;
}

/* Horizontally center the legend */
.legend {
  margin: 1em auto;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.alert-graph-name {
    cursor: pointer;
}

.keys-table-key {
    cursor: pointer;
}

.inner-navigation {
    cursor: pointer;
}

.keys-container {
    padding: 10px;
}

.panel {
    _margin-top: 20px;
}

#keys-table {
    margin-top: 12px;
}

/* .crit-low { */
/*     background-color: #fa3d2f; */
/* } */

/* .warn-low { */
/*     background-color: #fe8b03; */
/* } */

/* .warn-high { */
/*     background-color: #f9c014; */
/* } */

/* .crit-high { */
/*     background-color: #c5080f; */
/* } */

/* .stale { */
/*     background-color: #8846ec; */
/* } */

/* .bg-anomaly, .anomaly { */
/*     background-color: #3684af; */
/* } */

/* .ok-green { */
/*     background-color: #1d995b; */
/* } */


#main-dashboards-container > ul > li > a {
    cursor: pointer;
    color: #3c8dbc;
}


#graph-tooltip {
}

/* these were pulled from pnotify's index.html :( */
.stack-bar-top {
    right: 0;
    top: 0;
}
.stack-bar-bottom {
    margin-left: 15%;
    right: auto;
    bottom: 0;
    top: auto;
    left: auto;
}

.legendColorBox {
    width: 13px;
}
#graph-tooltip td {
    padding: 5px;
}

.logo {
    max-height: 40px;
}
