.modal.modal-wide .modal-dialog {
    width: 90%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}

#modal-target .modal-body { margin-bottom: 900px }


/* override some AdminLTE
 */
.sidebar-menu .treeview-menu  li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: clip;
}

/* nv.d3 */
.tall-graph {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height:800px;
}

.medium-graph {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height:600px;
}

.small-graph {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height:400px;
}

.alert-graph-name {
    cursor: pointer;
}