.modal.modal-wide .modal-dialog {
    width: 90%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}

/* override some AdminLTE
 */
.sidebar-menu .treeview-menu  li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.tall-graph {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height:800px;
    font-size: 14px;
}

.medium-graph {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height:600px;
}

.small-graph {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height:400px;
}

.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text,
.mg-active-datapoint, .mg-baselines text {
    font-size: 1.5rem;
}

/* Horizontally center the legend */
.legend {
  margin: 1em auto;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.alert-graph-name {
    cursor: pointer;
}

.inner-navigation {
    cursor: pointer;
}
