<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Dashboards</a>
            </li>
            <li class="active">
                <strong>Dashboards 1</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            Graph 1
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Last updated</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
                    </div>
                    <div class="flot-chart dashboard-chart">
                        <div flot class="flot-chart-content" dataset="flotData" options="flotOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            Graph 2
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Last updated</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
                    </div>
                    <div class="flot-chart dashboard-chart">
                        <div flot class="flot-chart-content" dataset="flotData" options="flotOptions"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>


</div>