<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img alt="image" class="img-circle" src="img/mule_logo.png" />
            <img alt="logo" style="width: 70%;margin-top: -10px;" src="img/mule_logo_color.png"/>
        </div>

        <h3>Welcome to Mule</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis est aliquam nisi porta rhoncus.
        </p>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Username" required="">
            </div>
            <button ui-sref="app.home" class="btn btn-primary block full-width m-b" style="background-color:#2f4050;">Enter</button>
        </form>
        <p class="m-t"> <small>Mule Dashboard &copy; 2015</small> </p>

    </div>
</div>