.icon-cell > div{
  background-position: center center;
  background-repeat: no-repeat;
}

.alert-row-critical {
  color: red;
 .state-cell > div {
    background-color: red;
    color: white;
  }
}

.alert-row-warning {
  color: orange;
  .state-cell > div {
    background-color: orange;
    color: white;
  }
}

.alert-row-critical-high {
  .icon-cell > div {
    background-image: url("critical_high.png")
  }
}

.alert-row-warning-high {
  .icon-cell > div {
    background-image: url("warning_high.png");
  }
}

.alert-row-critical-low {
  .icon-cell > div {
    background-image: url("critical_low.png");
  }
}

.alert-row-warning-low {
  .icon-cell > div {
    background-image: url("warning_low.png");
  }
}


.alert-summary-critical {
  background-image: url("summary_critical.png");
}

.alert-summary-warning {
  background-image: url("summary_warning.png");
}

.alert-summary-normal {
  background-image: url("summary_normal.png");
}

.alert-summary-stale {
  background-image: url("summary_stale.png");
}

.statusLabel {
  height: 16px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-top: 1px;
  padding-left: 18px;
  white-space: nowrap;
  overflow: hidden;
}

.statusLabel-normal {
  padding-left: 0px;
}

.statusLabel-progress {
  background-image: url("loading.gif")
}

.statusLabel-success {
  background-image: url("status-ok.png")
}

.statusLabel-error {
  color: red;
  background-image: url("status-error.gif")
}

.mule-tt-head {
  text-align: center;
  font-weight: bolder;
}